@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@400;500&display=swap');

:root {
  --primary_color1: #495E57;
  --primary_color2: #F4CD14;
  --secondary_color1: #EE9972;
  --secondary_color2: #FDBABB;
  --highlight_color1: #EDEFEE;
  --highlight_color2: #333333;
  --typeface1: 'Markazi Text', serif;
  --typeface2: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 16px;
}

h1 {
  font-size: 64pt;
}

h2 {
  font-size: 40pt;
}

h3 {
  font-size: 18pt;
}

p {
  font-size: 16pt;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap {
  gap: 15px;
}

.just-c {
  justify-content: center;
}

.just-sb {
  justify-content: space-between;
}

.just-se {
  justify-content: space-evenly;
}

.ai-c {
  align-items: center;
}

.ai-fe {
  align-items: flex-end;
}

.m-a {
  margin: auto;
}

.fw-bold {
  font-weight: bold;
}

.radius {
  border-radius: 16px;
}
.cta_btn {
  font-family: var(--typeface2);
  color: black;
  border-radius: 16px;
  width: 60%;
  height: 40px;
  background-color: var(--primary_color2);
  border: none;
  font-size: 16pt;
  font-weight: 600;
}